@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {
  --color-primary: #0B1F33;
  --color-accent: #1FB6A6;
  --color-muted: #F5F7FA;

  --font-sans: Inter, system-ui, sans-serif;
}