@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #0b1f33;
	--color-accent: #1fb6a6;
	--color-muted: #f5f7fa;

	--font-sans: Inter, system-ui, sans-serif;
}
